<div class="relative flex justify-between items-start w-full z-20 self-center">
  <div class="flex items-start">
    <a class="self-start w-16 h-16" href="https://shime.sh">
      <img class="self-start rounded-full w-16 h-16" src='{{ site.baseurl }}public/shime.jpg' alt='' />
    </a>

    <div class="flex flex-col ml-4">
      <a class="{{primary_text_color}} font-bold text-xl no-underline font-extrabold self-start" href="/">{{site.author.name}}</a>
      <a class="{{primary_text_color}} font-bold no-underline font-extrabold my-1 self-start" href="https://twitter.com/{{site.twitter.username}}">@{{site.twitter.username}}</a>
      <ul class="hidden md:block list-reset tracking-wide">
      </ul>
    </div>
  </div>
</div>
